.barrasup__div {
    align-items: center;
    background: #151d30;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: 0px 0px 7px 4px #15141a;
    color: $text-color;
    display: flex;
    height: 60px;
    justify-content: space-around;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 100;
}

.barrasup__div2 {
    align-items: center;
    background: #ccc;
    box-shadow: 0px 0px 10px 0px #333;
    color: $text-dark;
    display: flex;
    height: 60px;
    justify-content: space-around;
    top: 0;
    position: sticky;
    width: 100%;
    z-index: 101;
    transition: background .5s, color .5s;
}

h1 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 1;
}

.fa-code {
    color: rgba($color: #333, $alpha: 0.2);
    font-size: 40px;
    font-weight: 600;
    //left: 40%; // 40%
    top: 20%;
    position: absolute;
    align-self: center;
}