.google__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

    transition: box-shadow .3s ease;
}

.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
    background: #1669f2;
}

.google-icon-wrapper {
    position: absolute;
    left: 0;
    margin-right: 20px;
    width: 40px;
    height: 100%;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-icon {
    width: 18px;
    height: 18px;
}

.btn-text {
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-left: 40px;
}


@media screen and (min-width: 600px){
    .google-btn {
        width: 400px;
    }
}