.section__h2 {
    text-align: center;
}

.section__article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section__img {
    width: 290px;
}

.section__img2 {
    margin-bottom: 10px;
}

.section__div {
    display: flex;
}

.section__div-h2 {
    font-size: 16px;
}

.section__span {
    font-weight: 400;
}

@media screen and (min-width: 700px) {
    
    .section__article {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        &:nth-child(2n) .section__img {
            order: 1;
        }
    }

    .section__img2 {
        margin-bottom: 0;
        transform: scale(0.9);
    }
}