* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #1D976C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

@import './styles/base/base';
@import './styles/components/barraSup';
@import './styles/components/navigation';
@import './styles/components/carrusel';
@import './styles/components/formulario';
@import './styles/components/main';
@import './styles/components/section';
@import './styles/components/proyectos';
@import './styles/components/yo';
@import './styles/components/redesSociales';
@import './styles/components/footer';
@import './styles/components/testimonios';
@import './styles/components/login';
@import './styles/components/loading';
@import './styles/components/alert';